streamlit
pypdf
pypdf2
langchain
python-dotenv
faiss-cpu
openai
huggingface_hub
python-dotenv
langchain-community
langchain_openai
langchain_text_splitters
langchain_chroma
stravalib
mysql-connector-python
fastapi 
uvicorn[standard]
pymysql
matplotlib==3.5.1
july